* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }


 ul {
    list-style:none ;
 }

 li::before {
    content: '🟣';
    padding-right: 7px;
 }

 li::after {
    content: '🟣';
    padding-left: 7px;
 }

 blockquote {
    background-color:  yellow;
    border-left: 2px solid blue;
    padding: 10px;
    font-size: 20px;
 }

 blockquote::before,
 blockquote::after {
    content: '“';
    font-size: 40px;
    color: rgb(43, 2, 82);
 }

 blockquote::after {
    content: '”';
 }

 .img-block2 {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 20px;
 }

 .img-block2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
 }

 .img-block2::after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: white;
    position: absolute;
    /* font-size: 8px; */
    top: 0;
    right: 0;
    /* padding: 3px 7px;  */
    /* transform: translate(50%, 50%); */
    /* border-radius: 5px;
    opacity: 1; */
    transition: opacity 1s ease-in-out 0s;
 }

 .img-block2:hover:after {
    opacity: 0;
 }



 /* body {
    background-color: rgb(214, 71, 202);
 } */
 
 /*.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width: 100%;
 }
 form {
    border:  4px solid rgb(0, 134, 134);
    margin-bottom: 10px;
    box-shadow: 5px 5px 20px black;
 }
 .form-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

 }

 .form-content>*:not(:last-child) {
    margin-bottom: 10px;
 }

 input {
    background: rgb(232, 232, 232);
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px;
    color: white;
    padding: 8px;     */
    /* transition: all 1s linear 0s;   */

 /* }

 input:focus {
    box-shadow: 10px 10px 20px rgb(209, 5, 175); 
    outline: none;
 }

 input:hover {
    transform: scale(1.1);
 }

 input::placeholder {
    color: rgb(187, 3, 132);
 }

 button {
    background-color: rgb(214, 5, 162);
    border: none;
    padding: 5px 20px;
    cursor: pointer ;
    border-radius:5px ;
    color: white;
    border: 1px solid rgb(204, 4, 161);
    transition: all 1s linear 0s;
 }
 
 button:hover {
    transform: scale(1.1);
    background-color: white;
    color: rgb(204, 7, 128);
 } */





/*body {
    padding: 50px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    transition-duration: 1s;
    margin-bottom: 20px;
}

.ease .box {
    transition-timing-function: ease;
}

.linear .box {
    transition-timing-function: linear;
}

.ease-in .box {
    transition-timing-function: ease-in;
}
.ease-out .box {
    transition-timing-function: ease-out;
}
.ease-in-out .box {
    transition-timing-function: ease-in-out;
}
.box:hover {
    transform: scale(2);
    
}

.img-block {
    width: 250px;
    height: 250px;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    
}

.img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-block:hover {
    transform: rotate(360deg) scale(2);
    box-shadow: 20px 10px 25px #f0e007;    
    
} */







/* .container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: black;
    transition: width 0.5s linear 0s,
                height 0.5s cubic-bezier(0.6, -0.24, 0.53, 1.29) 0.5s;
}

.container:hover {
    background-color: blueviolet;
    width: 600px;
    height: 600px;
} */